<section id="wrapper">
    <div style="max-width: 600px;" class="container mx-auto mt-5">
        <div id="content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1>Mot de passe oublié ?</h1>
                </header>

                <section id="content" class="page-content">
                    <form  class="forgot-password" method="post" [formGroup]="reactiveForgotPasswordForm" (ngSubmit)="uForgotPassword()">
                        <ul class="ps-alert-error"></ul>

                        <header>
                            <p class="send-renew-password-link">
                                Veuillez renseigner l'adresse e-mail que vous avez utilisée
                                à la création de votre compte. Vous recevrez un lien
                                temporaire pour réinitialiser votre mot de passe.
                            </p>
                        </header>

                        <section class="form-fields">
                            <div class="form-group email ">
                                <span class="hide_error"><i class=""></i></span>
                                <div class="form-floating mb-3">
                                    <input name="email" type="email" class="form-control border border-dark"
                                        id="floatingEmail" placeholder="Adresse e-mail" required="" formControlName="emailFireBase">
                                    <label for="floatingEmail">Adresse e-mail <span
                                            class="text-danger">*</span></label>
                                </div>
                            </div>
                        </section>

                        <div class="form-footer text-sm-center btn-news submit">
                            <button class="btn btn-dark w-100 py-3" id="submit-login" type="submit" name="submit">
                                Envoyer un lien de réinitialisation
                            </button>
                        </div>
                    </form>
                </section>

                <footer class="page-footer aLinks my-3">
                    <a href="./login.html" class=" ">
                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                        <span class="ms-2">Retour à la connexion</span>
                    </a>
                </footer>
            </section>
        </div>
    </div>
</section>