<section id="content" class="mb-3">
    <section style="max-width: 600px;" class="login-form mx-auto mt-5">
        <form [formGroup]="reactiveLogInForm"   (ngSubmit)="uLogIn()">
            <section>
                
                <div class="form-group email w-100">
                    <span class="hide_error"><i class=""></i></span>
                    <div class="form-floating mb-3 ">
                        <input id="floatingEmail"  type="email" class="form-control border border-dark" 
                            placeholder="name@example.com"  formControlName="emailFireBase">
                        <label for="floatingEmail">E-mail <span class="text-danger"
                                style="outline: none;">*</span></label>
                    </div>
                </div>
                <div class="form-group password w-100">
                    <div class="form-floating">
                        <input id="floatingPassword"  type="password" class="form-control border border-dark"
                            placeholder="Password" autocomplete="off" value="" formControlName="passwordFireBase">
                        <label for="floatingPassword">Mot de passse <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="forgot-password mb-3 aLinks">
                    <a [routerLink]="['/auth','ForgotPaswword']">
                        Mot de passe oublié ?
                    </a>
                </div>
            </section>
            <footer class="row" >
                
                    <div class="col-lg-4 col-sm-12" >
                        <input type="hidden" name="submitLogin" value="1">
                        <button id="submit-login" class="btn btn-dark btn-lg w-100 d-flex justify-content-between align-items-center">
                            <span> Connexion </span>
                            <fa-icon [icon]="faArrowRight"></fa-icon>
                        </button>
                    </div>

                    <div class="col-lg-7 col-sm-12 border border-dark py-2 mt-2">
                        <a [routerLink]="['/auth','SignUp']" target="_blank" class="text-dark w-100">
                            Pas de compte ? Créez-en un
                        </a>

                        
                    </div>
            
            </footer>

        </form>
    </section>
</section>
